body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding: 10px 20px;
}

.navbar img {
    height: 50px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffcc00;
}

#content {
    padding: 20px;
    text-align: center;
}

#content p {
    
    color: #003366;
    font-size: 32px;
    text-align: center;
}

#content h1 {
    color: #003366;
    font-size: 32px;
}

#content ul {
    list-style: none;
    padding: 0;
    margin: 10px auto;
}

#content li {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.img-thumbnail {
    margin-top: 15px;
    max-width: 300px;
}
.form-control{
    max-width: 300px;
    size-adjust: 100px;
}


        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 0;
        }
        h1, h2 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 2px solid #000; /* Black border for visibility */
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding: 10px 20px;
}

.navbar img {
    height: 50px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffcc00;
}

#content {
    padding: 20px;
    text-align: center;
}
    
